@{
	ViewData["Title"] = "Home Page";
}
<div class="vg-page page-about" id="about">
	@await Component.InvokeAsync("About")
	<div class="container py-5">
		<h1 class="text-center fw-normal wow fadeIn">My Skills</h1>
		@await Component.InvokeAsync("Skill")
	</div>
	<div class="container pt-5">
		<div class="row">
			@await Component.InvokeAsync("Education")

			@await Component.InvokeAsync("Experience")
		</div>
	</div>
</div>

<div class="vg-page page-funfact" style="background-image: url(../assets/img/bg_banner.jpg);">
	<div class="container">
		<div class="row section-counter">
			<div class="col-md-6 col-lg-3 py-4 wow fadeIn">
				<h1 class="number" data-number="768">768</h1>
				<span>Clients</span>
			</div>
			<div class="col-md-6 col-lg-3 py-4 wow fadeIn">
				<h1 class="number" data-number="230">230</h1>
				<span>Project Compleate</span>
			</div>
			<div class="col-md-6 col-lg-3 py-4 wow fadeIn">
				<h1 class="number" data-number="97">97</h1>
				<span>Project Ongoing</span>
			</div>
			<div class="col-md-6 col-lg-3 py-4 wow fadeIn">
				<h1 class="number" data-number="699">699</h1>
				<span>Client Satisfaction</span>
			</div>
		</div>
	</div>
</div>

<!-- Portfolio page -->

@await Component.InvokeAsync("Project")

<!-- End Portfolio page -->
<!-- Client -->
<div class="vg-page page-client">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4 col-xl-3 item">
				<div class="img-place wow fadeInUp">
					<img src="../assets/img/logo/company_1.svg" alt="">
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3 item">
				<div class="img-place wow fadeInUp">
					<img src="../assets/img/logo/company_2.svg" alt="">
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3 item">
				<div class="img-place wow fadeInUp">
					<img src="../assets/img/logo/company_3.svg" alt="">
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3 item">
				<div class="img-place wow fadeInUp">
					<img src="../assets/img/logo/company_4.svg" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-4 col-xl-3 item">
				<div class="img-place wow fadeInUp">
					<img src="../assets/img/logo/company_5.svg" alt="">
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3 item">
				<div class="img-place wow fadeInUp">
					<img src="../assets/img/logo/company_6.svg" alt="">
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3 item">
				<div class="img-place wow fadeInUp">
					<img src="../assets/img/logo/company_7.svg" alt="">
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3 item">
				<div class="img-place wow fadeInUp">
					<img src="../assets/img/logo/company_8.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</div> <!-- End client -->
