@model EntityLayer.Entities.Experience
@{
    ViewData["Title"] = "AddExp";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form asp-action="AddExp" method="post">
	<div class="form-group">
		<label asp-for="CompanyName" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="CompanyName" class="form-control" />
			<span asp-validation-for="CompanyName" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Title" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="BeginDate" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="BeginDate" class="form-control" />
			<span asp-validation-for="BeginDate" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="EndDate" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="EndDate" class="form-control" />
			<span asp-validation-for="EndDate" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Description" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Description" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-primary">Add</button>
	</div>
</form>

